## Lab 02 - Pandas and Data Visualization
This notebook will introduce you to the basics of Pandas and Data Visualization. You will learn how to load data into a Pandas DataFrame, how to perform basic data analysis, and how to visualize data. The first part of this notebook will be an interactive tutorial, and the second part will be practice exercises for you to do! **Note that the practice problems will be checked when submitted!**

#### Pandas
Pandas is a popular open-source Python library that provides data structures and data analysis tools for working with structured data. Pandas is a versatile library that simplifies data manipulation, analysis, and exploration in Python. Some of its uses:
* Tabular Data Handling
* Data Cleaning and Transformation
* Data Exploration
* Data Import/Export
* Data Visualization

#### Matplotlib
Matplotlib is a widely used for creating static, animated, and interactive visualizations. Whether you are conducting data analysis, scientific research, or data communication, Matplotlib helps you present your findings effectively and intuitively.

### Pre-requisites

In [1]:
# In case you don't have pandas, uncomment
# the following lines and run the cell

# %pip install pandas

### Overview
In this notebook, you will be learning how to use the Pandas library by working with the `cookies.csv` file. 

#### `cookies.csv` file :

The `cookies.csv` file contains information about cookies that were made in Rico's Bisquito's factory. 

The columns are the following:

`cookie`: the name of a cookie
`ingredients`: a list of the cookie's ingredients
`calories`: the number of calories the created cookie has
`radius`: the radius of the created cookie, in cm
`cost_to_make`: the cost it took to make the created cookie, in dollars

### Reading the CSV file

First, we need to import the Pandas library. We will be using the `pd` alias for the Pandas library.

In [21]:
#TODO: import pandas and matplotlib in this cell
import pandas as pd, matplotlib

We will now look at the `cookies.csv` file. We will use the `pd.read_csv()` function to read in the CSV file. We will store the data in a variable called `cookies`.

In [52]:
#TODO: read the cookies.csv file into a pandas dataframe
cookies = pd.read_csv("cookies.csv")

#### Dataframe
Dataframes are a data structure that Pandas uses to store data. Dataframes are similar to tables in a database. Dataframes have rows and columns. Each row represents a single data point, and each column represents a feature of the data point.

We will then make sure we imported the data correctly by printing out the first 10 rows of the data, using the `head()` function.

In [53]:
#TODO: print the head of the dataframe
cookies.head(10)

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39
5,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
6,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
7,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.17
8,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN
9,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.743,0.74

### Checking data types
You can check the data types of each column using the `dtypes` attribute of the DataFrame.

In [54]:
#TODO: check the data types of the columns
cookies.dtypes

cookie           object
ingredients      object
calories          int64
radius          float64
cost_to_make    float64
dtype: object

Now, lets use use `info()` function to get more information about the Dataframe

In [55]:
# TODO: use info() to get information about datatypes and null values
cookies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cookie        129 non-null    object
 1   ingredients   129 non-null    object
 2   calories      129 non-null    int64
 3   radius        129 non-null    float64
 4   cost_to_make  114 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 5.2+ KB

### Cleaning the data
Now that we have the data, we need to clean it. For example, some `cost_to_make` fields of some created cookies are missing. To resolve this, we can do many things: we can replace the missing data with the mean of the column, or we can get rid of the row entirely if the `cost_to_make` field is not set.

In [58]:
#TODO: clean the dataframe and 
# print the head again to make sure 
# the changes took effect
fill_cost = cookies.fillna(cookies.mean(numeric_only=True).round(1))
fill_cost.head(10)

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39
5,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
6,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
7,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.17
8,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,1.20
9,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.743,0.74

To also make sure we removed null values, we can check the number of null values in each column using the `isnull()` function.

In [25]:
#TODO: use the isnull method to make sure your data is clean
cookies.isnull()

     cookie  ingredients  calories  radius  cost_to_make
0     False        False     False   False         False
1     False        False     False   False         False
2     False        False     False   False         False
3     False        False     False   False         False
4     False        False     False   False         False
..      ...          ...       ...     ...           ...
124   False        False     False   False         False
125   False        False     False   False         False
126   False        False     False   False         False
127   False        False     False   False         False
128   False        False     False   False         False

[129 rows x 5 columns]

Next, lets check for duplicate rows using the `duplicated()` function. Then, remove those rows using `drop_duplicates()` function.

In [62]:
# TODO: check for duplicate rows
# then delete those rows form df
cookies.duplicated()
no_duplicates = cookies.drop_duplicates()
no_duplicates.duplicated()

0      False
1      False
2      False
4      False
5      False
       ...
121    False
122    False
125    False
126    False
127    False
Length: 118, dtype: bool

### Parsing the data
Now that we have the data, we could parse it to get the information we want. For example, we can check what types of cookies were made by using the `unique()` function on the `cookie` column.

In [63]:
#TODO: see what cookies are in the dataset
cookies.cookie.unique()

array(['laddoo lemon', 'red velvet rauw', 'nevadito', 'bad berry bunny',
       'orange ozuna', 'minty miami', 'chocolate'], dtype=object)

We can also check the number of cookies made by using the `value_counts()` function on the `cookie` column.

In [64]:
#TODO: use value_counts() to see how many 
# cookies of each type there are
cookies.cookie.value_counts()

red velvet rauw    21
minty miami        21
orange ozuna       20
laddoo lemon       17
nevadito           17
bad berry bunny    17
chocolate          16
Name: cookie, dtype: int64

Or maybe we don't like how long the names of the cookies are, so we can shorten them by using the `replace()` function on the `cookie` column.

For example, let's try changing `"bad berry bunny"` to `"bbb"`.

In [70]:
#TODO: change bad berry bunny data elements to "bbb"
cookies.cookie.replace("bad berry bunny", "bbb")

0         laddoo lemon
1      red velvet rauw
2             nevadito
3      red velvet rauw
4                  bbb
            ...
124        minty miami
125           nevadito
126    red velvet rauw
127                bbb
128          chocolate
Name: cookie, Length: 129, dtype: object

We may even like the original names better, but we may want to get rid of the spaces. For example, we can change `"orange ozuna"` to `"orange_ozuna"`. Here, we will use the `str.replace()` function.

In [74]:
#TODO: adjust orange ozuna as described
cookies.cookie.replace("orange ozuna", "orange ozuna".replace(" ", "_"), inplace = True)
cookies.cookie.unique()

array(['laddoo lemon', 'red velvet rauw', 'nevadito', 'bad berry bunny',
       'orange_ozuna', 'minty miami', 'chocolate'], dtype=object)

We may even just want to keep the first word of the cookie name. For example, we can change `"orange_ozuna"` to `"orange"`.

In [75]:
#TODO: adjust all cookies so only the first word
# is used as the cookie name
cookies.cookie.replace("orange_ozuna", "orange ozuna".replace("_", " "), inplace = True)
for cookie in cookies.cookie.unique():
    first_word = cookie.split(' ', 1)[0]
    cookies.cookie.replace(cookie, first_word, inplace = True)
cookies.cookie.unique()

array(['laddoo', 'red', 'nevadito', 'bad', 'orange', 'minty', 'chocolate'],
      dtype=object)

Another thing that may come to mind is that maybe getting flour could cost more money due to inflation, so we have to adjust our `cost_to_make` values. We can do this by using the `apply()` function on the `cost_to_make` column.

In [76]:
#Don't edit this method
def adjust_cost(cost):
    return cost + 0.5

#TODO: use apply() to adjust the cost_to_make column.
cookies.cost_to_make.apply(adjust_cost)

0      1.17
1      1.57
2      1.54
3      1.57
4      1.89
       ...
124    1.34
125    2.11
126    1.83
127    1.86
128    2.03
Name: cost_to_make, Length: 129, dtype: float64

And we can do a lot more things! We will see these concepts be used in the next homework assignment, along with a couple new ones to show you how powerful Pandas is.

### More complicated operations: Grouping, Filtering, Aggregating

Before trying out these complicated operations, lets first sort the sort the df by the radius of the cookies using the `sort_values()` function.

In [77]:
# TODO: sort the df using sort_values(by='Column', ascending=False)
cookies.sort_values(by='radius', ascending = False)

,cookie,ingredients,calories,radius,cost_to_make
110,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,4.930,1.05
30,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",204,4.667,1.40
109,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,4.619,NaN
60,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",186,4.573,1.06
49,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",195,4.562,0.62
...,...,...,...,...,...
0,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
70,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",164,3.050,NaN
22,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",184,2.982,2.01
32,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",178,2.952,0.84
78,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",166,1.695,0.82

We may also want to group data by certain attributes. This can be done by using `groupby()`. This method takes in a column name, and groups the data by the values in that column. For example, we can group the data by the `cookie` column.

In [93]:
#TODO: group by cookie type
grouped_cookies = cookies.groupby('cookie')
grouped_cookies.head()

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
1,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04
3,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
4,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39
5,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
6,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
7,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.17
8,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN
9,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.743,0.74
10,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.28
11,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,0.76
12,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",183,3.874,1.07
13,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",159,3.429,2.09
14,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",175,3.766,0.77
15,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
16,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
17,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",209,3.182,1.53
18,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",167,3.548,1.86
19,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",236,4.043,1.29
20,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
21,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",202,4.289,1.23
22,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",184,2.982,2.01
23,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",156,3.765,1.63
24,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.343,NaN
25,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.383,NaN
26,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
28,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",176,3.809,NaN
29,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",219,4.346,1.18
34,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.937,NaN
35,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",187,3.257,0.69
36,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,4.152,1.72
38,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",182,4.166,1.11
41,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",206,3.681,NaN
45,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",213,4.007,1.34

We can also group by multiple columns. For example, we can group the data by the `cookie` and `ingredients` columns.

In [97]:
#TODO: group by cookie type and ingredients
grouped_cookies = cookies.groupby('cookie')
grouped_cookies.head()

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
1,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04
3,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
4,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39
5,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
6,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
7,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.17
8,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN
9,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.743,0.74
10,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.28
11,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,0.76
12,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",183,3.874,1.07
13,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",159,3.429,2.09
14,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",175,3.766,0.77
15,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
16,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
17,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",209,3.182,1.53
18,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",167,3.548,1.86
19,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",236,4.043,1.29
20,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
21,red,"[""flour"",""cocoa powder"",""butter"",""red food col...",202,4.289,1.23
22,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",184,2.982,2.01
23,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",156,3.765,1.63
24,minty,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.343,NaN
25,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.383,NaN
26,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
28,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",176,3.809,NaN
29,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",219,4.346,1.18
34,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.937,NaN
35,laddoo,"[""flour"",""lemon juice"",""sugar"",""ghee""]",187,3.257,0.69
36,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,4.152,1.72
38,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",182,4.166,1.11
41,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",206,3.681,NaN
45,bad,"[""flour"",""blueberries"",""sugar"",""butter""]",213,4.007,1.34

We may also want to filter the data. For example, we can filter the data to only show the cookies that have a radius greater than 4.3 cm. We can do this by indexing the DataFrame with a boolean expression.

In [19]:
#TODO: filter using the boolean expression

We may even want to use `groupby()` and filter idea together! For example, we can filter the data to only show the cookies that have a radius greater than 4.3 cm, and group the data by the `cookie` column.

In [20]:
#TODO: filter the data using the boolean expression
# then group by cookie column

We may also want to aggregate the data. For example, we can aggregate the data by looking at the ratio of calories to radius. We can do this by using indexing and the `apply()` function.

In [21]:
#TODO: add a column to the dataframe that is the
# calories per radius

Or we can just get rid of this column if we find it useless. We can do this by using the `drop()` function or indexing.

In [22]:
#TODO: drop the created column

### Visualizing the data

We can also visualize the data. For example, we can visualize the data by plotting the radius of the cookies against the cost to make the cookies. We can do this by using the `plot()` function.

In [23]:
#TODO: plot the radius (x) versus cost to make (y)

We may even want to get more specific and visualize the shape of a distribution of the `laddoo lemon`'s radius by making a boxplot. We can also do this by using the `plot()` function.

In [24]:
#TODO: add the described boxplot
# remember that you changed the name from laddoo lemon to laddoo

Alternatively, we can create a histogram to visualize the distribution of the `laddoo lemon`'s radius. We can also do this by using the `plot()` function.

In [25]:
#TODO: add the described histogram

Things can get more complicated too. Maybe we want to analyze the behaviors of `bad berry bunny` and `laddoo lemon`'s radius using a boxplot. But this time, let's try it using the alternative `boxplot()` function. For practice, try doing it with `plot()` too!

In [26]:
#TODO: analyze the two cookie's radius in a boxplot

### Practice Problems
Now that you have learned some of Pandas' capabilities, let's try some practice problems! **This is the part that will be checked when you submit it!**

#### Problem 1
How many cookies were made? (Hint: use the `shape` attribute)

In [27]:
#Add your code here

#### Problem 2
Add a column to the DataFrame that has the value `True` if the cookie has a radius greater than 4 cm, and `False` otherwise. (Hint: use the `apply()` function)

In [28]:
#Add your code here

#### Problem 3

Group the data by the `cookie` column, and find the average radius of each cookie. (Hint: use the `groupby()` and `transform()` function). Add this column to the DataFrame.

In [29]:
#Add your code here

#### Problem 4
Create a new DataFrame that only contains the cookies that have the ingredient `"chocolate chips"`. (Hint: use the `str.contains()` function)

In [30]:
#Add your code here

#### Problem 5

Create a boxplot of `cost_to_make` for all cookies except `chocolate` using the `boxplot()` function.

In [31]:
#Add your code here

#### Problem 6

Create a histogram of the `bad berry bunny`'s calories using the `plot()` function.

In [32]:
#Add your code here

#### Problem 7

Calculate the average calories per cookie type and display the result in a bar chart.

In [33]:
#Add your code here

#### Problem 8

Find the top 3 most expensive cookies in terms of cost_to_make

In [34]:
#Add your code here