## Lab 02 - Pandas and Data Visualization
This notebook will introduce you to the basics of Pandas and Data Visualization. You will learn how to load data into a Pandas DataFrame, how to perform basic data analysis, and how to visualize data. The first part of this notebook will be an interactive tutorial, and the second part will be practice exercises for you to do! **Note that the practice problems will be checked when submitted!**

#### Pandas
Pandas is a popular open-source Python library that provides data structures and data analysis tools for working with structured data. Pandas is a versatile library that simplifies data manipulation, analysis, and exploration in Python. Some of its uses:
* Tabular Data Handling
* Data Cleaning and Transformation
* Data Exploration
* Data Import/Export
* Data Visualization

#### Matplotlib
Matplotlib is a widely used for creating static, animated, and interactive visualizations. Whether you are conducting data analysis, scientific research, or data communication, Matplotlib helps you present your findings effectively and intuitively.

### Pre-requisites

In [35]:
# In case you don't have pandas, uncomment
# the following lines and run the cell

# %pip install pandas

### Overview
In this notebook, you will be learning how to use the Pandas library by working with the `cookies.csv` file. 

#### `cookies.csv` file :

The `cookies.csv` file contains information about cookies that were made in Rico's Bisquito's factory. 

The columns are the following:

`cookie`: the name of a cookie
`ingredients`: a list of the cookie's ingredients
`calories`: the number of calories the created cookie has
`radius`: the radius of the created cookie, in cm
`cost_to_make`: the cost it took to make the created cookie, in dollars

### Reading the CSV file

First, we need to import the Pandas library. We will be using the `pd` alias for the Pandas library.

In [36]:
#TODO: import pandas and matplotlib in this cell
import pandas as pd

We will now look at the `cookies.csv` file. We will use the `pd.read_csv()` function to read in the CSV file. We will store the data in a variable called `cookies`.

In [37]:
#TODO: read the cookies.csv file into a pandas dataframe
df = pd.read_csv('cookies.csv')

#### Dataframe
Dataframes are a data structure that Pandas uses to store data. Dataframes are similar to tables in a database. Dataframes have rows and columns. Each row represents a single data point, and each column represents a feature of the data point.

We will then make sure we imported the data correctly by printing out the first 10 rows of the data, using the `head()` function.

In [38]:
#TODO: print the head of the dataframe
df.head()

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39

### Checking data types
You can check the data types of each column using the `dtypes` attribute of the DataFrame.

In [54]:
#TODO: check the data types of the columns
df.dtypes

cookie                  object
ingredients             object
calories                 int64
radius                 float64
cost_to_make           float64
calories_per_radius    float64
CaloriesPerRadius      float64
dtype: object

Now, lets use use `info()` function to get more information about the Dataframe

In [55]:
# TODO: use info() to get information about datatypes and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   cookie               129 non-null    object
 1   ingredients          129 non-null    object
 2   calories             129 non-null    int64
 3   radius               129 non-null    float64
 4   cost_to_make         114 non-null    float64
 5   calories_per_radius  129 non-null    float64
 6   CaloriesPerRadius    129 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 7.2+ KB

### Cleaning the data
Now that we have the data, we need to clean it. For example, some `cost_to_make` fields of some created cookies are missing. To resolve this, we can do many things: we can replace the missing data with the mean of the column, or we can get rid of the row entirely if the `cost_to_make` field is not set.

In [61]:
#TODO: clean the dataframe and 
# print the head again to make sure 
# the changes took effect

df.drop(["cost_to_make"])

df.head()

KeyError: "['cost_to_make'] not found in axis"

To also make sure we removed null values, we can check the number of null values in each column using the `isnull()` function.

In [62]:
#TODO: use the isnull method to make sure your data is clean
df.isnull()

,cookie,ingredients,calories,radius,cost_to_make,calories_per_radius,CaloriesPerRadius
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
124,False,False,False,False,False,False,False
125,False,False,False,False,False,False,False
126,False,False,False,False,False,False,False
127,False,False,False,False,False,False,False
128,False,False,False,False,False,False,False

Next, lets check for duplicate rows using the `duplicated()` function. Then, remove those rows using `drop_duplicates()` function.

In [66]:
# TODO: check for duplicate rows
# then delete those rows form df
df.duplicated()
df.drop_duplicates()

,cookie,ingredients,calories,radius,cost_to_make,calories_per_radius,CaloriesPerRadius
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,1.17,54.803353,54.803353
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57,52.380952,52.380952
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.54,55.050381,55.050381
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.89,46.046287,46.046287
5,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65,49.984573,49.984573
...,...,...,...,...,...,...,...
121,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",227,4.085,1.92,55.569155,55.569155
122,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.916,2.50,43.411645,43.411645
125,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,3.915,2.11,53.895275,53.895275
126,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",197,3.906,1.83,50.435228,50.435228
127,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",199,4.281,1.86,46.484466,46.484466

### Parsing the data
Now that we have the data, we could parse it to get the information we want. For example, we can check what types of cookies were made by using the `unique()` function on the `cookie` column.

In [ ]:
#TODO: see what cookies are in the dataset

AttributeError: 'DataFrame' object has no attribute 'unique'

We can also check the number of cookies made by using the `value_counts()` function on the `cookie` column.

In [45]:
#TODO: use value_counts() to see how many 
# cookies of each type there are

df['cookie'].value_counts()

cookie
red velvet rauw    21
minty miami        21
orange ozuna       20
laddoo lemon       17
nevadito           17
bad berry bunny    17
chocolate          16
Name: count, dtype: int64

Or maybe we don't like how long the names of the cookies are, so we can shorten them by using the `replace()` function on the `cookie` column.

For example, let's try changing `"bad berry bunny"` to `"bbb"`.

In [ ]:
#TODO: change bad berry bunny data elements to "bbb"

We may even like the original names better, but we may want to get rid of the spaces. For example, we can change `"orange ozuna"` to `"orange_ozuna"`. Here, we will use the `str.replace()` function.

In [ ]:
#TODO: adjust orange ozuna as described

We may even just want to keep the first word of the cookie name. For example, we can change `"orange_ozuna"` to `"orange"`.

In [ ]:
#TODO: adjust all cookies so only the first word
# is used as the cookie name

Another thing that may come to mind is that maybe getting flour could cost more money due to inflation, so we have to adjust our `cost_to_make` values. We can do this by using the `apply()` function on the `cost_to_make` column.

In [42]:
#Don't edit this method
def adjust_cost(cost):
    return cost + 0.5

#TODO: use apply() to adjust the cost_to_make column.
df['cost_to_make'] = df['cost_to_make'].apply(adjust_cost)

df['cost_to_make'].head(5)

0    1.17
1    1.57
2    1.54
3    1.57
4    1.89
Name: cost_to_make, dtype: float64

And we can do a lot more things! We will see these concepts be used in the next homework assignment, along with a couple new ones to show you how powerful Pandas is.

### More complicated operations: Grouping, Filtering, Aggregating

Before trying out these complicated operations, lets first sort the sort the df by the radius of the cookies using the `sort_values()` function.

In [46]:
# TODO: sort the df using sort_values(by='Column', ascending=False)

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,1.17
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.54
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.89
5,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65
6,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,1.34
7,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.67
8,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN
9,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.743,1.24
10,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.78
11,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,1.26
12,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",183,3.874,1.57
13,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",159,3.429,2.59
14,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",175,3.766,1.27
15,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65
16,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,1.34
17,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",209,3.182,2.03
18,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",167,3.548,2.36
19,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",236,4.043,1.79
20,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57
21,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",202,4.289,1.73
22,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",184,2.982,2.51
23,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",156,3.765,2.13
24,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.343,NaN
25,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.383,NaN
26,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65
28,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",176,3.809,NaN
29,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",219,4.346,1.68
34,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.937,NaN
35,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",187,3.257,1.19
36,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,4.152,2.22
38,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",182,4.166,1.61
41,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",206,3.681,NaN
45,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",213,4.007,1.84

We may also want to group data by certain attributes. This can be done by using `groupby()`. This method takes in a column name, and groups the data by the values in that column. For example, we can group the data by the `cookie` column.

In [48]:
#TODO: group by cookie type

df1 = df.groupby(['cookie'])

df1.head()

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,1.17
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.54
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.89
5,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65
6,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,1.34
7,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.67
8,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN
9,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.743,1.24
10,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.78
11,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,1.26
12,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",183,3.874,1.57
13,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",159,3.429,2.59
14,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",175,3.766,1.27
15,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65
16,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,1.34
17,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",209,3.182,2.03
18,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",167,3.548,2.36
19,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",236,4.043,1.79
20,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57
21,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",202,4.289,1.73
22,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",184,2.982,2.51
23,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",156,3.765,2.13
24,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.343,NaN
25,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.383,NaN
26,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65
28,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",176,3.809,NaN
29,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",219,4.346,1.68
34,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.937,NaN
35,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",187,3.257,1.19
36,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,4.152,2.22
38,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",182,4.166,1.61
41,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",206,3.681,NaN
45,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",213,4.007,1.84

We can also group by multiple columns. For example, we can group the data by the `cookie` and `ingredients` columns.

In [49]:
#TODO: group by cookie type and ingredients

df1 = df.groupby(['cookie', 'ingredients'])

df1.head()

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,1.17
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.54
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.89
5,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65
6,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,1.34
7,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.67
8,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN
9,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.743,1.24
10,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.78
11,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,1.26
12,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",183,3.874,1.57
13,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",159,3.429,2.59
14,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",175,3.766,1.27
15,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65
16,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,1.34
17,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",209,3.182,2.03
18,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",167,3.548,2.36
19,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",236,4.043,1.79
20,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57
21,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",202,4.289,1.73
22,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",184,2.982,2.51
23,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",156,3.765,2.13
24,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.343,NaN
25,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.383,NaN
26,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.65
28,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",176,3.809,NaN
29,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",219,4.346,1.68
34,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.937,NaN
35,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",187,3.257,1.19
36,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,4.152,2.22
38,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",182,4.166,1.61
41,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",206,3.681,NaN
45,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",213,4.007,1.84

We may also want to filter the data. For example, we can filter the data to only show the cookies that have a radius greater than 4.3 cm. We can do this by indexing the DataFrame with a boolean expression.

In [ ]:
#TODO: filter using the boolean expression

We may even want to use `groupby()` and filter idea together! For example, we can filter the data to only show the cookies that have a radius greater than 4.3 cm, and group the data by the `cookie` column.

In [ ]:
#TODO: filter the data using the boolean expression
# then group by cookie column

We may also want to aggregate the data. For example, we can aggregate the data by looking at the ratio of calories to radius. We can do this by using indexing and the `apply()` function.

In [52]:
#TODO: add a column to the dataframe that is the
# calories per radius

def calories_per_radius(row):
    return row['calories'] / row['radius']

df['CaloriesPerRadius'] = df.apply(calories_per_radius, axis=1)

df.head()

,cookie,ingredients,calories,radius,cost_to_make,calories_per_radius,CaloriesPerRadius
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,1.17,54.803353,54.803353
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57,52.380952,52.380952
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.54,55.050381,55.050381
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57,52.380952,52.380952
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.89,46.046287,46.046287

Or we can just get rid of this column if we find it useless. We can do this by using the `drop()` function or indexing.

In [ ]:
#TODO: drop the created column
df.drop(columns=['CaloriesPerRadius'])

### Visualizing the data

We can also visualize the data. For example, we can visualize the data by plotting the radius of the cookies against the cost to make the cookies. We can do this by using the `plot()` function.

In [ ]:
#TODO: plot the radius (x) versus cost to make (y)
df

We may even want to get more specific and visualize the shape of a distribution of the `laddoo lemon`'s radius by making a boxplot. We can also do this by using the `plot()` function.

In [ ]:
#TODO: add the described boxplot
# remember that you changed the name from laddoo lemon to laddoo

Alternatively, we can create a histogram to visualize the distribution of the `laddoo lemon`'s radius. We can also do this by using the `plot()` function.

In [53]:
#TODO: add the described histogram
df[df['cookies']]

SyntaxError: unterminated string literal (detected at line 2) (3357218944.py, line 2)

Things can get more complicated too. Maybe we want to analyze the behaviors of `bad berry bunny` and `laddoo lemon`'s radius using a boxplot. But this time, let's try it using the alternative `boxplot()` function. For practice, try doing it with `plot()` too!

In [ ]:
#TODO: analyze the two cookie's radius in a boxplot

### Practice Problems
Now that you have learned some of Pandas' capabilities, let's try some practice problems! **This is the part that will be checked when you submit it!**

#### Problem 1
How many cookies were made? (Hint: use the `shape` attribute)

In [68]:
#Add your code here

df.shape[0]

129

#### Problem 2
Add a column to the DataFrame that has the value `True` if the cookie has a radius greater than 4 cm, and `False` otherwise. (Hint: use the `apply()` function)

In [69]:
#Add your code here

df['radius_greater_than_4'] = df['radius'].apply(lambda x: True if x > 4 else False)

df.head()

,cookie,ingredients,calories,radius,cost_to_make,calories_per_radius,CaloriesPerRadius,radius_greater_than_4
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,1.17,54.803353,54.803353,False
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57,52.380952,52.380952,False
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.54,55.050381,55.050381,True
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57,52.380952,52.380952,False
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.89,46.046287,46.046287,True

#### Problem 3

Group the data by the `cookie` column, and find the average radius of each cookie. (Hint: use the `groupby()` and `transform()` function). Add this column to the DataFrame.

In [70]:
#Add your code here

# Group the data by the `cookie` column, and find the average radius of each cookie. (Hint: use the `groupby()` and `transform()` function). Add this column to the DataFrame.
df['avg_radius'] = df.groupby('cookie')['radius'].transform('mean')

df.head()

,cookie,ingredients,calories,radius,cost_to_make,calories_per_radius,CaloriesPerRadius,radius_greater_than_4,avg_radius
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,1.17,54.803353,54.803353,False,3.782118
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57,52.380952,52.380952,False,4.034952
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.54,55.050381,55.050381,True,4.013588
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.57,52.380952,52.380952,False,4.034952
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.89,46.046287,46.046287,True,3.911000

#### Problem 4
Create a new DataFrame that only contains the cookies that have the ingredient `"chocolate chips"`. (Hint: use the `str.contains()` function)

In [75]:
#Add your code here

# Create a new DataFrame that only contains the cookies that have the ingredient `"chocolate chips"`. (Hint: use the `str.contains()` function)

choco_cookies = df[df['ingredients'].str.contains('chocolate chips')]

choco_cookies

,cookie,ingredients,calories,radius,cost_to_make,calories_per_radius,CaloriesPerRadius,radius_greater_than_4,avg_radius
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.54,55.050381,55.050381,True,4.013588
7,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.67,65.960912,65.960912,False,3.933562
10,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.78,56.133056,56.133056,False,4.013588
17,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",209,3.182,2.03,65.681961,65.681961,False,3.933562
19,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",236,4.043,1.79,58.372496,58.372496,True,4.013588
25,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.383,NaN,60.597103,60.597103,False,3.933562
29,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",219,4.346,1.68,50.391164,50.391164,True,4.013588
34,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",205,3.937,NaN,52.070104,52.070104,False,3.933562
36,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,4.152,2.22,50.818882,50.818882,True,4.013588
41,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",206,3.681,NaN,55.963054,55.963054,False,3.933562
43,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",205,3.776,1.46,54.290254,54.290254,False,4.013588
48,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",240,4.212,1.47,56.980057,56.980057,True,3.933562
50,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",220,3.855,2.71,57.068742,57.068742,False,4.013588
55,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",229,4.217,1.69,54.304008,54.304008,True,3.933562
57,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",208,3.583,1.92,58.051912,58.051912,False,4.013588
62,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",206,4.328,1.84,47.597043,47.597043,True,3.933562
64,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,4.205,1.69,50.178359,50.178359,True,4.013588
69,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",216,3.824,1.65,56.485356,56.485356,False,3.933562
71,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",214,4.141,1.87,51.678339,51.678339,True,4.013588
80,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",197,4.461,2.17,44.160502,44.160502,True,3.933562
82,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",253,4.043,1.62,62.577294,62.577294,True,4.013588
87,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",199,4.474,1.64,44.479213,44.479213,True,3.933562
89,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",249,3.819,1.63,65.200314,65.200314,False,4.013588
94,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,4.207,1.64,57.760875,57.760875,True,3.933562
96,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",230,3.788,1.66,60.718057,60.718057,False,4.013588
102,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",229,3.802,2.29,60.231457,60.231457,False,4.013588
107,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",222,4.186,1.36,53.033923,53.033923,True,3.933562
109,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,4.619,NaN,45.680883,45.680883,True,4.013588
114,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",226,3.894,1.45,58.038007,58.038007,False,3.933562
116,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,4.227,NaN,51.100071,51.100071,True,4.013588
121,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",227,4.085,1.92,55.569155,55.569155,True,3.933562
125,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,3.915,2.11,53.895275,53.895275,False,4.013588
128,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",209,3.182,2.03,65.681961,65.681961,False,3.933562

#### Problem 5

Create a boxplot of `cost_to_make` for all cookies except `chocolate` using the `boxplot()` function.

In [ ]:
#Add your code here

#### Problem 6

Create a histogram of the `bad berry bunny`'s calories using the `plot()` function.

In [ ]:
#Add your code here

#### Problem 7

Calculate the average calories per cookie type and display the result in a bar chart.

In [ ]:
#Add your code here

#### Problem 8

Find the top 3 most expensive cookies in terms of cost_to_make

In [ ]:
#Add your code here