## Lab 02 - Pandas and Data Visualization
This notebook will introduce you to the basics of Pandas and Data Visualization. You will learn how to load data into a Pandas DataFrame, how to perform basic data analysis, and how to visualize data. The first part of this notebook will be an interactive tutorial, and the second part will be practice exercises for you to do!

#### Pandas
Pandas is a popular open-source Python library that provides data structures and data analysis tools for working with structured data. Pandas is a versatile library that simplifies data manipulation, analysis, and exploration in Python. Some of its uses:
* Tabular Data Handling
* Data Cleaning and Transformation
* Data Exploration
* Data Import/Export
* Data Visualization

#### Matplotlib
Matplotlib is a widely used for creating static, animated, and interactive visualizations. Whether you are conducting data analysis, scientific research, or data communication, Matplotlib helps you present your findings effectively and intuitively.

### Pre-requisites

In [3]:
# In case you don't have pandas, uncomment
# the following lines and run the cell

 %pip3 install pandas

SyntaxError: invalid syntax (33624303.py, line 4)

### Overview
In this notebook, you will be learning how to use the Pandas library by working with the `cookies.csv` file. 

#### `cookies.csv` file :

The `cookies.csv` file contains information about cookies that were made in Rico's Bisquito's factory. 

The columns are the following:

`cookie`: the name of a cookie
`ingredients`: a list of the cookie's ingredients
`calories`: the number of calories the created cookie has
`radius`: the radius of the created cookie, in cm
`cost_to_make`: the cost it took to make the created cookie, in dollars

### Reading the CSV file

First, we need to import the Pandas library. We will be using the `pd` alias for the Pandas library.

In [5]:
#TODO: import pandas and matplotlib in this cell
import pandas as pd
import matplotlib.pyplot as plt

We will now look at the `cookies.csv` file. We will use the `pd.read_csv()` function to read in the CSV file. We will store the data in a variable called `cookies`.

In [7]:
#TODO: read the cookies.csv file into a pandas dataframe
cookies = pd.read_csv("cookies.csv")
print(cookies)

              cookie                                        ingredients  \
0       laddoo lemon             ["flour","lemon juice","sugar","ghee"]
1           nevadito  ["flour","chocolate chips","milk","vanilla ext...
2    red velvet rauw  ["flour","cocoa powder","butter","red food col...
3    bad berry bunny           ["flour","blueberries","sugar","butter"]
4       orange ozuna   ["flour","orange juice","sugar","vegetable oil"]
..               ...                                                ...
113        chocolate       ["flour","chocolate chips","sugar","butter"]
114     laddoo lemon             ["flour","lemon juice","sugar","ghee"]
115         nevadito  ["flour","chocolate chips","milk","vanilla ext...
116  red velvet rauw  ["flour","cocoa powder","butter","red food col...
117  bad berry bunny           ["flour","blueberries","sugar","butter"]

     calories  radius  cost_to_make
0         170   3.102          0.67
1         224   4.069          1.04
2         198   3.780          1.07
3         191   4.148          1.39
4         162   3.241          1.15
..        ...     ...           ...
113       227   4.085          1.42
114       170   3.916          2.00
115       211   3.915          1.61
116       197   3.906          1.33
117       199   4.281          1.36

[118 rows x 5 columns]

#### Dataframe
Dataframes are a data structure that Pandas uses to store data. Dataframes are similar to tables in a database. Dataframes have rows and columns. Each row represents a single data point, and each column represents a feature of the data point.

We will then make sure we imported the data correctly by printing out the first 10 rows of the data, using the `head()` function.

In [8]:
#TODO: print the head of the dataframe
print(cookies.head(n=10))

            cookie                                        ingredients  \
0     laddoo lemon             ["flour","lemon juice","sugar","ghee"]
1         nevadito  ["flour","chocolate chips","milk","vanilla ext...
2  red velvet rauw  ["flour","cocoa powder","butter","red food col...
3  bad berry bunny           ["flour","blueberries","sugar","butter"]
4     orange ozuna   ["flour","orange juice","sugar","vegetable oil"]
5      minty miami          ["flour","mint extract","sugar","butter"]
6        chocolate       ["flour","chocolate chips","sugar","butter"]
7     laddoo lemon             ["flour","lemon juice","sugar","ghee"]
8         nevadito  ["flour","chocolate chips","milk","vanilla ext...
9  red velvet rauw  ["flour","cocoa powder","butter","red food col...

   calories  radius  cost_to_make
0       170   3.102          0.67
1       224   4.069          1.04
2       198   3.780          1.07
3       191   4.148          1.39
4       162   3.241          1.15
5       204   3.964          0.84
6       243   3.684          1.17
7       178   3.989           NaN
8       216   3.848          1.28
9       211   3.940          0.76

### Checking data types
You can check the data types of each column using the `dtypes` attribute of the DataFrame.

In [10]:
#TODO: check the data types of the columns
cookies.dtypes

cookie           object
ingredients      object
calories          int64
radius          float64
cost_to_make    float64
dtype: object

Now, lets use use `info()` function to get more information about the Dataframe

In [11]:
# TODO: use info() to get information about datatypes and null values
cookies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cookie        118 non-null    object
 1   ingredients   118 non-null    object
 2   calories      118 non-null    int64
 3   radius        118 non-null    float64
 4   cost_to_make  103 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 4.7+ KB

### Cleaning the data
Now that we have the data, we need to clean it. For example, some `cost_to_make` fields of some created cookies are missing. To resolve this, we can do many things: we can replace the missing data with the mean of the column, or we can get rid of the row entirely if the `cost_to_make` field is not set.

In [13]:
#TODO: clean the dataframe and 
cookies['cost_to_make'].fillna((cookies['cost_to_make'].mean()), inplace=True)
# print the head again to make sure 
cookies.head(n=10)
# the changes took effect

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
1,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04
2,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
3,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39
4,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
5,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
6,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.17
7,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN
8,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.28
9,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,0.76

To also make sure we removed null values, we can check the number of null values in each column using the `isnull()` function.

In [154]:
#TODO: use the isnull method to make sure your data is clean

cookie          0
ingredients     0
calories        0
radius          0
cost_to_make    0
dtype: int64

Next, lets check for duplicate rows using the `duplicated()` function. Then, remove those rows using `drop_duplicates()` function.

In [155]:
# TODO: check for duplicate rows
# then delete those rows form df

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.670000
1,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.040000
2,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.070000
3,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.390000
4,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.150000
5,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.840000
6,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.170000
7,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,1.191068
8,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.280000
9,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,0.760000

### Parsing the data
Now that we have the data, we could parse it to get the information we want. For example, we can check what types of cookies were made by using the `unique()` function on the `cookie` column.

In [156]:
#TODO: see what cookies are in the dataset

array(['laddoo lemon', 'nevadito', 'red velvet rauw', 'bad berry bunny',
       'orange ozuna', 'minty miami', 'chocolate'], dtype=object)

We can also check the number of cookies made by using the `value_counts()` function on the `cookie` column.

In [157]:
#TODO: use value_counts() to see how many 
# cookies of each type there are

red velvet rauw    18
laddoo lemon       17
nevadito           17
bad berry bunny    17
orange ozuna       17
minty miami        17
chocolate          15
Name: cookie, dtype: int64

Or maybe we don't like how long the names of the cookies are, so we can shorten them by using the `replace()` function on the `cookie` column.

For example, let's try changing `"bad berry bunny"` to `"bbb"`.

In [158]:
#TODO: change bad berry bunny data elements to "bbb"

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.670000
1,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.040000
2,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.070000
3,bbb,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.390000
4,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.150000
5,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.840000
6,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.170000
7,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,1.191068
8,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.280000
9,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,0.760000

We may even like the original names better, but we may want to get rid of the spaces. For example, we can change `"orange ozuna"` to `"orange_ozuna"`. Here, we will use the `str.replace()` function.

In [159]:
#TODO: adjust orange ozuna as described
df['cookie'] = df['cookie'].str.replace('orange ozuna', 'orange_ozuna')

df.head(10)

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.670000
1,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.040000
2,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.070000
3,bbb,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.390000
4,orange_ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.150000
5,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.840000
6,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.170000
7,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,1.191068
8,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.280000
9,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,0.760000

We may even just want to keep the first word of the cookie name. For example, we can change `"orange_ozuna"` to `"orange"`.

In [160]:
#TODO: adjust all cookies so only the first word
# is used as the cookie name

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.670000
1,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.040000
2,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.070000
3,bbb,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.390000
4,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.150000
5,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.840000
6,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.170000
7,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,1.191068
8,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.280000
9,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,0.760000

Another thing that may come to mind is that maybe getting flour could cost more money due to inflation, so we have to adjust our `cost_to_make` values. We can do this by using the `apply()` function on the `cost_to_make` column.

In [161]:
#Don't edit this method
def adjust_cost(cost):
    return cost + 0.5

#TODO: use apply() to adjust the cost_to_make column.

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,1.170000
1,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.540000
2,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.570000
3,bbb,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.890000
4,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.650000
5,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,1.340000
6,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.670000
7,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,1.691068
8,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.780000
9,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,1.260000

And we can do a lot more things! We will see these concepts be used in the next homework assignment, along with a couple new ones to show you how powerful Pandas is.

### More complicated operations: Grouping, Filtering, Aggregating

Before tryong out these complicated operations, lets first sort the sort the df by the radius of the cookies using the `sort_values()` function.

In [162]:
# TODO: sort the df using sort_values(by='Column', ascending=False)

,cookie,ingredients,calories,radius,cost_to_make
85,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",198,3.128,1.09
111,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",153,3.794,1.10
41,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",195,4.562,1.12
60,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",168,3.132,1.13
39,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",174,4.388,1.14
91,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",180,3.252,1.15
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,1.17
110,bbb,"[""flour"",""blueberries"",""sugar"",""butter""]",177,3.950,1.17
24,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",198,3.448,1.18
27,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",187,3.257,1.19

We may also want to group data by certain attributes. This can be done by using `groupby()`. This method takes in a column name, and groups the data by the values in that column. For example, we can group the data by the `cookie` column.

In [163]:
#TODO: group by cookie type

,ingredients,calories,radius,cost_to_make
cookie,,,,
bbb,"[""flour"",""blueberries"",""sugar"",""butter""]",177,3.950,1.17
chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",222,4.186,1.36
laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",195,4.562,1.12
minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",198,3.128,1.09
nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",205,3.776,1.46
orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",153,3.794,1.10
red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",206,4.297,1.23

We can also group by multiple columns. For example, we can group the data by the `cookie` and `ingredients` columns.

In [164]:
#TODO: group by cookie type and ingredients

                                                                ingredients  \
cookie          calories
bbb             171                ["flour","blueberries","sugar","butter"]
                172                ["flour","blueberries","sugar","butter"]
                173                ["flour","blueberries","sugar","butter"]
                177                ["flour","blueberries","sugar","butter"]
                178                ["flour","blueberries","sugar","butter"]
...                                                                     ...
red velvet rauw 202       ["flour","cocoa powder","butter","red food col...
                203       ["flour","cocoa powder","butter","red food col...
                204       ["flour","cocoa powder","butter","red food col...
                206       ["flour","cocoa powder","butter","red food col...
                211       ["flour","cocoa powder","butter","red food col...

                          radius  cost_to_make
cookie          calories
bbb             171        4.045      1.430000
                172        3.794      1.460000
                173        3.911      1.691068
                177        3.950      1.170000
                178        3.853      1.691068
...                          ...           ...
red velvet rauw 202        4.289      1.730000
                203        4.112      1.410000
                204        4.667      1.900000
                206        4.297      1.230000
                211        3.940      1.260000

[90 rows x 3 columns]

We may also want to filter the data. For example, we can filter the data to only show the cookies that have a radius greater than 4.3 cm. We can do this by indexing the DataFrame with a boolean expression.

In [165]:
#TODO: filter using the boolean expression

,cookie,ingredients,calories,radius,cost_to_make
41,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",195,4.562,1.12
64,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",196,4.425,1.37
102,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,4.930,1.55
52,orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",186,4.573,1.56
79,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",199,4.474,1.64

We may even want to use `groupby()` and filter idea together! For example, we can filter the data to only show the cookies that have a radius greater than 4.3 cm, and group the data by the `cookie` column.

In [166]:
#TODO: filter the data using the boolean expression
# then group by cookie column

,ingredients,calories,radius,cost_to_make
cookie,,,,
chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",199,4.474,1.64
laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",195,4.562,1.12
minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",174,4.388,1.14
nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",219,4.346,1.68
orange,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",186,4.573,1.56
red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",196,4.425,1.37

We may also want to aggregate the data. For example, we can aggregate the data by looking at the ratio of calories to radius. We can do this by using indexing and the `apply()` function.

In [169]:
#TODO: add a column to the dataframe that is the
# calories per radius

,cookie,ingredients,calories,radius,cost_to_make,calories_per_radius
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67,54.803353
1,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04,55.050381
2,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07,52.380952
3,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39,46.046287
4,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15,49.984573
5,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84,51.463169
6,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.17,65.960912
7,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN,44.622712
8,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.28,56.133056
9,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,0.76,53.553299

Or we can just get rid of this column if we find it useless. We can do this by using the `drop()` function or indexing.

In [171]:
#TODO: drop the created column

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
1,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04
2,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
3,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39
4,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
5,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
6,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.17
7,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN
8,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",216,3.848,1.28
9,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",211,3.940,0.76

### Visualizing the data

We can also visualize the data. For example, we can visualize the data by plotting the radius of the cookies against the cost to make the cookies. We can do this by using the `plot()` function.

In [ ]:
#TODO: plot the radius (x) versus cost to make (y)

We may even want to get more specific and visualize the shape of a distribution of the `laddoo lemon`'s radius by making a boxplot. We can also do this by using the `plot()` function.

In [ ]:
#TODO: add the described boxplot

Alternatively, we can create a histogram to visualize the distribution of the `laddoo lemon`'s radius. We can also do this by using the `plot()` function.

In [ ]:
#TODO: add the described histogram

Things can get more complicated too. Maybe we want to analyze the behaviors of `bad berry bunny` and `laddoo lemon`'s radius using a boxplot. But this time, let's try it using the alternative `boxplot()` function. For practice, try doing it with `plot()` too!

In [ ]:
#TODO: analyze the two cookie's radius in a boxplot

### Practice Problems
Now that you have learned some of Pandas' capabilities, let's try some practice problems! **This is the part that will be checked when you submit it!**

#### Problem 1
How many cookies were made? (Hint: use the `shape` attribute)

In [ ]:
#Add your code here

#### Problem 2
Add a column to the DataFrame that has the value `True` if the cookie has a radius greater than 4 cm, and `False` otherwise. (Hint: use the `apply()` function)

In [ ]:
#Add your code here

#### Problem 3

Group the data by the `cookie` column, and find the average radius of each cookie. (Hint: use the `groupby()` and `transform()` function). Add this column to the DataFrame.

In [ ]:
#Add your code here

#### Problem 4
Create a new DataFrame that only contains the cookies that have the ingredient `"chocolate chips"`. (Hint: use the `str.contains()` function)

In [ ]:
#Add your code here

#### Problem 5

Create a boxplot of `cost_to_make` for all cookies except `chocolate` using the `boxplot()` function.

In [ ]:
#Add your code here

#### Problem 6

Create a histogram of the `bad berry bunny`'s calories using the `plot()` function.

In [ ]:
#Add your code here

#### Problem 7

Calculate the average calories per cookie type and display the result in a bar chart.

In [ ]:
#Add your code here

#### Problem 8

Find the top 3 most expensive cookies in terms of cost_to_make

In [ ]:
#Add your code here