## Lab 02 - Pandas and Data Visualization
This notebook will introduce you to the basics of Pandas and Data Visualization. You will learn how to load data into a Pandas DataFrame, how to perform basic data analysis, and how to visualize data. The first part of this notebook will be an interactive tutorial, and the second part will be practice exercises for you to do! **Note that the practice problems will be checked when submitted!**

#### Pandas
Pandas is a popular open-source Python library that provides data structures and data analysis tools for working with structured data. Pandas is a versatile library that simplifies data manipulation, analysis, and exploration in Python. Some of its uses:
* Tabular Data Handling
* Data Cleaning and Transformation
* Data Exploration
* Data Import/Export
* Data Visualization

#### Matplotlib
Matplotlib is a widely used for creating static, animated, and interactive visualizations. Whether you are conducting data analysis, scientific research, or data communication, Matplotlib helps you present your findings effectively and intuitively.

### Pre-requisites

In [1]:
# In case you don't have pandas, uncomment
# the following lines and run the cell

# %pip install pandas

IndentationError: unexpected indent (2873592305.py, line 4)

### Overview
In this notebook, you will be learning how to use the Pandas library by working with the `cookies.csv` file. 

#### `cookies.csv` file :

The `cookies.csv` file contains information about cookies that were made in Rico's Bisquito's factory. 

The columns are the following:

`cookie`: the name of a cookie
`ingredients`: a list of the cookie's ingredients
`calories`: the number of calories the created cookie has
`radius`: the radius of the created cookie, in cm
`cost_to_make`: the cost it took to make the created cookie, in dollars

### Reading the CSV file

First, we need to import the Pandas library. We will be using the `pd` alias for the Pandas library.

In [2]:
#TODO: import pandas and matplotlib in this cell
import pandas as pd

We will now look at the `cookies.csv` file. We will use the `pd.read_csv()` function to read in the CSV file. We will store the data in a variable called `cookies`.

In [3]:
#TODO: read the cookies.csv file into a pandas dataframe
df = pd.read_csv('cookies.csv')
df

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39
...,...,...,...,...,...
124,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
125,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",211,3.915,1.61
126,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",197,3.906,1.33
127,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",199,4.281,1.36
128,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",209,3.182,1.53

#### Dataframe
Dataframes are a data structure that Pandas uses to store data. Dataframes are similar to tables in a database. Dataframes have rows and columns. Each row represents a single data point, and each column represents a feature of the data point.

We will then make sure we imported the data correctly by printing out the first 10 rows of the data, using the `head()` function.

In [4]:
#TODO: print the head of the dataframe
df.head(10)

,cookie,ingredients,calories,radius,cost_to_make
0,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",170,3.102,0.67
1,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
2,nevadito,"[""flour"",""chocolate chips"",""milk"",""vanilla ext...",224,4.069,1.04
3,red velvet rauw,"[""flour"",""cocoa powder"",""butter"",""red food col...",198,3.780,1.07
4,bad berry bunny,"[""flour"",""blueberries"",""sugar"",""butter""]",191,4.148,1.39
5,orange ozuna,"[""flour"",""orange juice"",""sugar"",""vegetable oil""]",162,3.241,1.15
6,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",204,3.964,0.84
7,chocolate,"[""flour"",""chocolate chips"",""sugar"",""butter""]",243,3.684,1.17
8,laddoo lemon,"[""flour"",""lemon juice"",""sugar"",""ghee""]",178,3.989,NaN
9,minty miami,"[""flour"",""mint extract"",""sugar"",""butter""]",184,3.743,0.74

### Checking data types
You can check the data types of each column using the `dtypes` attribute of the DataFrame.

In [ ]:
#TODO: check the data types of the columns
df.dtypes

Now, lets use use `info()` function to get more information about the Dataframe

In [ ]:
# TODO: use info() to get information about datatypes and null values
df.info()

### Cleaning the data
Now that we have the data, we need to clean it. For example, some `cost_to_make` fields of some created cookies are missing. To resolve this, we can do many things: we can replace the missing data with the mean of the column, or we can get rid of the row entirely if the `cost_to_make` field is not set.

In [ ]:
#TODO: clean the dataframe and 
# print the head again to make sure 
# the changes took effect
df['cost_to_make'] = df['cost_to_make'].fillna(df['cost_to_make'].mean())

To also make sure we removed null values, we can check the number of null values in each column using the `isnull()` function.

In [ ]:
#TODO: use the isnull method to make sure your data is clean
df.isnull().sum

Next, lets check for duplicate rows using the `duplicated()` function. Then, remove those rows using `drop_duplicates()` function.

In [ ]:
# TODO: check for duplicate rows
# then delete those rows form df

duplicate_rows = df[df.duplicated()]
print(len(duplicate_rows))
df = df.drop_duplicates()

duplicate_rows = df[df.duplicated()]
print(len(duplicate_rows))

### Parsing the data
Now that we have the data, we could parse it to get the information we want. For example, we can check what types of cookies were made by using the `unique()` function on the `cookie` column.

In [ ]:
#TODO: see what cookies are in the dataset
df['cookie'].unique()

We can also check the number of cookies made by using the `value_counts()` function on the `cookie` column.

In [ ]:
#TODO: use value_counts() to see how many 
# cookies of each type there are

df['cookies'].value_counts()

Or maybe we don't like how long the names of the cookies are, so we can shorten them by using the `replace()` function on the `cookie` column.

For example, let's try changing `"bad berry bunny"` to `"bbb"`.

In [ ]:
#TODO: change bad berry bunny data elements to "bbb"

df['cookies'].replace('bad berry bunny', 'bbb', replace = True)
df[df['cookie'] == 'bad berry bunny']

We may even like the original names better, but we may want to get rid of the spaces. For example, we can change `"orange ozuna"` to `"orange_ozuna"`. Here, we will use the `str.replace()` function.

In [ ]:
#TODO: adjust orange ozuna as described

df['cookie'] = df['cookie'].str.replace('orange ozuna', 'oo')
df[df['cookie'] = 'oo']

We may even just want to keep the first word of the cookie name. For example, we can change `"orange_ozuna"` to `"orange"`.

In [ ]:
#TODO: adjust all cookies so only the first word
# is used as the cookie name
df['cookie'] = df['cookie'].str.replace('oo', 'orange ozuna')
df['cookie'] = df['cookie'].str.split(" ").str[0]
df['cookie'] = df['cookie'].str.split("_").str[0]
df.head(10)

Another thing that may come to mind is that maybe getting flour could cost more money due to inflation, so we have to adjust our `cost_to_make` values. We can do this by using the `apply()` function on the `cost_to_make` column.

In [ ]:
#Don't edit this method
def adjust_cost(cost):
    return cost + 0.5

print(df['cost_to_make'].head(5))

#TODO: use apply() to adjust the cost_to_make column.
df['cost_to_make'] = df['cost_to_make'].apply(adjust_cost)

df['cost_to_make'].head(5)

And we can do a lot more things! We will see these concepts be used in the next homework assignment, along with a couple new ones to show you how powerful Pandas is.

### More complicated operations: Grouping, Filtering, Aggregating

Before trying out these complicated operations, lets first sort the sort the df by the radius of the cookies using the `sort_values()` function.

In [ ]:
# TODO: sort the df using sort_values(by='Column', ascending=False)

df = df.sort_values(by='radius')
df

We may also want to group data by certain attributes. This can be done by using `groupby()`. This method takes in a column name, and groups the data by the values in that column. For example, we can group the data by the `cookie` column.

In [ ]:
#TODO: group by cookie type
df1 = df.groupby(['cookie'])

df1.head()

We can also group by multiple columns. For example, we can group the data by the `cookie` and `ingredients` columns.

In [ ]:
#TODO: group by cookie type and ingredients

df1 = dfgroupby(['cookie', 'ingredients'])

df1.head()

We may also want to filter the data. For example, we can filter the data to only show the cookies that have a radius greater than 4.3 cm. We can do this by indexing the DataFrame with a boolean expression.

In [ ]:
#TODO: filter using the boolean expression

df2 = df[df['radius'] > 4.3]
df2.head(10)

We may even want to use `groupby()` and filter idea together! For example, we can filter the data to only show the cookies that have a radius greater than 4.3 cm, and group the data by the `cookie` column.

In [ ]:
#TODO: filter the data using the boolean expression
# then group by cookie column

filtered_df = df[df['radius'] > 4.3]
grouped_df = filtered_df.groupby(['cookie'])

grouped_df.head()

We may also want to aggregate the data. For example, we can aggregate the data by looking at the ratio of calories to radius. We can do this by using indexing and the `apply()` function.

In [ ]:
#TODO: add a column to the dataframe that is the
# calories per radius

def calculate_cal_per_radius(row):
    return(row['calories'] / row['radius'])

df['CaloriesPerRadius'] = df.apply(calculate_cal_per_radius, axis = 1)

df.head()

Or we can just get rid of this column if we find it useless. We can do this by using the `drop()` function or indexing.

In [ ]:
#TODO: drop the created column

df.drop(columns=)

### Visualizing the data

We can also visualize the data. For example, we can visualize the data by plotting the radius of the cookies against the cost to make the cookies. We can do this by using the `plot()` function.

In [ ]:
#TODO: plot the radius (x) versus cost to make (y)

import matplotlib.pyplot as plt

plt.scatter(df['radius'], df['cost_to_make'])
plt.xlabel('Radius')
plt.ylabel('Cost to make')
plt.title('Radius vs Cost to Make')

We may even want to get more specific and visualize the shape of a distribution of the `laddoo lemon`'s radius by making a boxplot. We can also do this by using the `plot()` function.

In [ ]:
#TODO: add the described boxplot
# remember that you changed the name from laddoo lemon to laddoo

df[df["cookie"] == "laddoo"]["radius"].plot.box()

Alternatively, we can create a histogram to visualize the distribution of the `laddoo lemon`'s radius. We can also do this by using the `plot()` function.

In [ ]:
#TODO: add the described histogram
df[df["cookie"] == "laddoo"]["radius"].plot.hist()

Things can get more complicated too. Maybe we want to analyze the behaviors of `bad berry bunny` and `laddoo lemon`'s radius using a boxplot. But this time, let's try it using the alternative `boxplot()` function. For practice, try doing it with `plot()` too!

In [ ]:
#TODO: analyze the two cookie's radius in a boxplot

plt.boxplot(x=df['radius'][df['cookie'] === 'bbb'], labels=['bad berry bunny'])
plot.boxplot(x=df['radius'][df['cookie'] == 'laddoo'], labels=['laddoo lemon'], positions=[2])
plt.show()

### Practice Problems
Now that you have learned some of Pandas' capabilities, let's try some practice problems! **This is the part that will be checked when you submit it!**

#### Problem 1
How many cookies were made? (Hint: use the `shape` attribute)

In [ ]:
#Add your code here
print("Number of cookies: ", df.shape[0])

#### Problem 2
Add a column to the DataFrame that has the value `True` if the cookie has a radius greater than 4 cm, and `False` otherwise. (Hint: use the `apply()` function)

In [ ]:
#Add your code here
def cookie_radius(row)
    return(row['radius' > 4])

df['radius_flag'] = df.apply(cookie_radius, axis = 1)

df['radius_flag']

#### Problem 3

Group the data by the `cookie` column, and find the average radius of each cookie. (Hint: use the `groupby()` and `transform()` function). Add this column to the DataFrame.

In [ ]:
#Add your code here

df['avg_radius'] = df.groupby('cookie')['radius'].transform('mean')

df['avg_radius']

#### Problem 4
Create a new DataFrame that only contains the cookies that have the ingredient `"chocolate chips"`. (Hint: use the `str.contains()` function)

In [ ]:
#Add your code here

chocolate_chip_df = df[df['ingredients'].str.contains('chocolate chips')]

#### Problem 5

Create a boxplot of `cost_to_make` for all cookies except `chocolate` using the `boxplot()` function.

In [ ]:
#Add your code here

no_chocolate_df = df[df['cookie'] != "chocolate"]
print(no_chocolate_df)
plt.boxplot(no_chocolate_df['cost_to_make'])
plt.xlabel('Cookie')
plt.ylabel('Cost to Make')
plt.title("boxplot for all cookies but not chocolate")
plt.show()

#### Problem 6

Create a histogram of the `bad berry bunny`'s calories using the `plot()` function.

In [ ]:
#Add your code here

df_bad_berry_bunny = df[df['cookie'] == 'bbb']
df_bad_berry_bunny['calories'].plot(kind='hist')
plt.show()

#### Problem 7

Calculate the average calories per cookie type and display the result in a bar chart.

In [ ]:
#Add your code here

avg_calories = df.groupby('cookies')['calories'].mean()

avg_calories.plot(kind='bar')
plt.show()

#### Problem 8

Find the top 3 most expensive cookies in terms of cost_to_make

In [ ]:
#Add your code here
sorted_df = df.sort_values(by='cost_to_make', ascending=False)
top3 = sorted_df.head(3)
print(top3['cookie'])

hello world

In [2]:
print["helloworld"]

NameError: name 'helloworld' is not defined