# Worksheet 00

Name:  Quan Ho

UID: U17207751

### Topics

- course overview
- python review

### Course Overview

a) Why are you taking this course?

I want to improve my data science and coding ability so that I can be a stronger candidate for job prospect. Also, it is a class I have to take for my specilization major and it looks the most useful to my future goals compared to other classes.

b) What are your academic and professional goals for this semester?

As mentioned above, I want to go into Biotech specifically in the data science field. Currently, I feel that my skills are lacking in this field so I want to take this course to improve upon my skills. I hope that by taking this course I can improve upon my skills, especially in developing workable algorithms with binomial trees. In addition to learning, I would also hope that the effort I put in grants me an adequate grade in the class.

c) Do you have previous Data Science experience? If so, please expand.

I took EC 523: Deep learning and BE500 A3: Programming Fundamentals for Biomedical Engineering. In EC 523 I trained machine learning models using class data as well as data from my lab. In BE500 class, we used synthesized nucleic base pairs to generate possible genes and coded a function for DNA replication. However, in those classes I only used Data Science tools that were applicable for the given assignments. I did not have a strong foundation in my toolkit. I hope to develop that here in this class, specifically in Github.

d) Data Science is a combination of programming, math (linear algebra and calculus), and statistics. Which of these three do you struggle with the most (you may pick more than one)?

I definitely struggle the most in programming because I did not have a strong foundation in coding, it was just a means to an ends for me in completing assingments. I want to build and develop my fountdation here.

### Python review

#### Lambda functions

Python supports the creation of anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called `lambda`. Instead of writing a named function as such:

In [ ]:
def f(x):
    return x**2
f(8)

64

One can write an anonymous function as such:

In [ ]:
(lambda x: x**2)(8)

64

A `lambda` function can take multiple arguments:

In [ ]:
(lambda x, y : x + y)(2, 3)

5

The arguments can be `lambda` functions themselves:

In [ ]:
(lambda x : x(3))(lambda y: 2 + y)

5

a) write a `lambda` function that takes three arguments `x, y, z` and returns `True` only if `x < y < z`.

In [ ]:
(lambda x,y,z:x<y<z)(1,2,3)

True

b) write a `lambda` function that takes a parameter `n` and returns a lambda function that will multiply any input it receives by `n`. For example, if we called this function `g`, then `g(n)(2) = 2n`

In [ ]:
(lambda n:2*n)(23)

46

#### Map

`map(func, s)`

`func` is a function and `s` is a sequence (e.g., a list).

`map()` returns an object that will apply function `func` to each of the elements of `s`.

For example if you want to multiply every element in a list by 2 you can write the following:

In [ ]:
mylist = [1, 2, 3, 4, 5]
mylist_mul_by_2 = map(lambda x : 2 * x, mylist)
print(list(mylist_mul_by_2))

[2, 4, 6, 8, 10]

`map` can also be applied to more than one list as long as they are the same size:

In [ ]:
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

a_plus_b = map(lambda x, y: x + y, a, b)
list(a_plus_b)

[6, 6, 6, 6, 6]

c) write a map that checks if elements are greater than zero

In [ ]:
c = [-2, -1, 0, 1, 2]
gt_zero = map(lambda c:c>0,c)
list(gt_zero)

[False, False, False, True, True]

d) write a map that checks if elements are multiples of 3

In [ ]:
d = [1, 3, 6, 11, 2]
mul_of3 = map(lambda d: d%3==0,d)
list(mul_of3)

[False, True, True, False, False]

#### Filter

`filter(function, list)` returns a new list containing all the elements of `list` for which `function()` evaluates to `True.`

e) write a filter that will only return even numbers in the list

In [ ]:
e = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = filter(lambda e: e%2==0,e)
list(evens)

[2, 4, 6, 8, 10]

#### Reduce

`reduce(function, sequence[, initial])` returns the result of sequentially applying the function to the sequence (starting at an initial state). You can think of reduce as consuming the sequence via the function.

For example, let's say we want to add all elements in a list. We could write the following:

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
sum_nums = reduce(lambda acc, x : acc + x, nums, 0)
print(sum_nums)

15

Let's walk through the steps of `reduce` above:

1) the value of `acc` is set to 0 (our initial value)

2) Apply the lambda function on `acc` and the first element of the list: `acc` = `acc` + 1 = 1

3) `acc` = `acc` + 2 = 3

4) `acc` = `acc` + 3 = 6

5) `acc` = `acc` + 4 = 10

6) `acc` = `acc` + 5 = 15

7) return `acc`

`acc` is short for `accumulator`.

f) `*challenging` Using `reduce` write a function that returns the factorial of a number. (recall: N! (N factorial) = N * (N - 1) * (N - 2) * ... * 2 * 1)

In [ ]:

factorial = lambda x: reduce(lambda acc, n: acc * n, range(1, x + 1), 1)
factorial(10)

3628800

g) `*challenging` Using `reduce` and `filter`, write a function that returns all the primes below a certain number

In [ ]:
from functools import reduce

#def sieve_OG(limit):
#    primes = []
#    is_prime = lambda x, primes=primes: all(x % p != 0 for p in primes)
#
#    return reduce(lambda acc, x: acc + [x] if is_prime(x) else acc, range(2, limit), [])
#print(sieve_OG(100))

sieve = lambda limit: reduce(lambda acc, x: acc + [x] if all(x % p != 0 for p in filter(lambda y: y <= int(x**0.5), acc)) else acc, range(2, limit), [])
print(sieve(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### What is going on?

For each of the following code snippets, explain why the result may be unexpected and why the output is what it is:

In [ ]:
class Bank:
  def __init__(self, balance):
    self.balance = balance

  def is_overdrawn(self):
    return self.balance < 0

myBank = Bank(100)
if myBank.is_overdrawn :
  print("OVERDRAWN")
else:
  print("ALL GOOD")


class Bank:
    def __init__(self, balance):
        self.balance = balance

    def is_overdrawn(self):
        return self.balance < 0

myBank = Bank(100) #positive balance
if myBank.is_overdrawn(): # Corrected usage with parentheses
    print("OVERDRAWN")
else:
    print("ALL GOOD")


myBank = Bank(-100) #negative balance
if myBank.is_overdrawn(): # Corrected usage with parentheses
    print("OVERDRAWN")
else:
    print("ALL GOOD")

OVERDRAWN
ALL GOOD
OVERDRAWN

No matter what number you put it will always say overdrawn. It is because the myBank.is_overdrawn is missing a parentheisis. Missing the () will always make the myBank.is_overdrawn to reference the method object, and it will always be considered true in a boolean context. Meaning that it will always evaluate to True, and "OVERDRAWN" will always be printed, no matter what numeric balance you input.

In [ ]:
for i in range(4):
    print(i)
    i = 10

0
1
2
3

For line 45 above, the function is for i in range(4) meaning that it goes from i to 4th element. Since i is defined as 10, that means it is an element of
[0,1,2,3,4,5,6,7,8,9] so in in range(4) would go from the 1st element to the 4th element. Hence it will return [0,1,2,3].

In [ ]:
row = [""] * 3 # row i['', '', '']
board = [row] * 3
print(board) # [['', '', ''], ['', '', ''], ['', '', '']]
board[0][0] = "X"
print(board)

[['', '', ''], ['', '', ''], ['', '', '']]
[['X', '', ''], ['X', '', ''], ['X', '', '']]

In [ ]:
row = [""] * 3
board = [list(row) for _ in range(3)]
print(board)
board[0][0] = "X"
print(board)

[['', '', ''], ['', '', ''], ['', '', '']]
[['X', '', ''], ['', '', ''], ['', '', '']]

The inner lists in board are references to the same list object. As seen with the first snippet, when board[0][0]="X" was inputed, it affacted every single board. Adter the fix, board[0][0] = "X" it is only the [0],[0] element that is changed into an "X". This is fixable by creating an independent inner lists using the list comprehension method.

In [ ]:
funcs = []
results = []
for x in range(3):
    def some_func():
        return x
    funcs.append(some_func)
    results.append(some_func())  # note the function call here

funcs_results = [func() for func in funcs]
print(results) # [0,1,2]
print(funcs_results)

[0, 1, 2]
[2, 2, 2]

In [ ]:
funcs = []
results = []
for x in range(3):
    def some_func(x=x):
        return x
    funcs.append(some_func)
    results.append(some_func())

funcs_results = [func() for func in funcs]
print(results)  # Output: [0, 1, 2]
print(funcs_results)  # Output: [0, 1, 2]

[0, 1, 2]
[0, 1, 2]


The original code had a late binding of the variable x in the
some_func function defined inside the loop. Meaning that all functions in the funcs list were referencing the same x from the outer scope.

This can be fixed by modifying the function definition to use a default argument x=x, this will give the current value of x.

In [ ]:
f = open("./data.txt", "w+")
f.write("1,2,3,4,5")
f.close()

nums = []
with open("./data.txt", "w+") as f:
  lines = f.readlines()
  for line in lines:
    nums += [int(x) for x in line.split(",")]

print(sum(nums))

0

In [ ]:
f = open("./data.txt", "w+")
f.write("1,2,3,4,5")
f.seek(0)  # Reset the file cursor to the beginning before reading
f.close()

nums = []
with open("./data.txt", "r") as f:  # Open in read-only mode
    lines = f.readlines()
    for line in lines:
        nums += [int(x) for x in line.split(",")]

print(sum(nums))

15

The origional code had 3 problems:
It Used "w+" mode for writing, which truncates the file, leading to data loss.
It read lines immediately after writing, but the file cursor was at the end, resulting in an empty lines list.
Its nums list remained empty as there were no lines to iterate over and split.

I fixed it by resetting the file cursor to the beginning after writing and opening the file in read-only mode when reading. This was done by adding f.seek(0) after writing to reset the file cursor to the beginning. Lastly, I changed the file mode to "r" in the with open statement to open the file in read-only mode.